@import "./variables";

.btn {
  border-radius: 1.8125rem;
  border: none;
  color: white;
}
.success-button {
  background-color: $moderateCyan;

  opacity: 1;
  transition: 0.3s;
  &:hover {
    opacity: 0.6;
  }
}
.accept-button {
  font-weight: 700;
  background-color: $moderateCyan;
  width: 13.1875rem;
  height: 3.6875rem;
}
.card-button {
  font-weight: 700;
  background-color: $moderateCyan;
  width: 9.625rem;
  height: 2.9375rem;
}
.disabled-button {
  background-color: $darkGray;
  width: 9.625rem;
  height: 2.9375rem;
}
.btn-circle {
  background-color: $blackGray;
  width: 54px;
  height: 54px;
}
.icon {
  font-size: 1rem;
  color: $grayish;
}
