@import "./variables";

.success-button {
  background-color: $moderateCyan;

  opacity: 1;
  transition: 0.3s;
  &:hover {
    background-color: $darkCyan;
    transform: scale(0.95);
  }
}
.accept-button {
  font-weight: 700;
  background-color: $moderateCyan;
  width: 11.75rem;
  height: 3.6875rem;
  border-radius: 1.8125rem;
  border: none;
  color: white;
  &:hover {
    background-color: $darkCyan;
    transform: scale(0.95);
  }
}
.card-button {
  font-weight: 700;
  background-color: $moderateCyan;
  width: 9.625rem;
  height: 2.9375rem;
  border-radius: 1.8125rem;
  border: none;
  color: white;
  &:hover {
    background-color: $darkCyan;
    transform: scale(0.95);
  }
}
.disabled-button {
  background-color: $darkGray;
  width: 9.625rem;
  height: 2.9375rem;
}
.btn-circle {
  position: relative;
  background-color: $blackGray;
  width: 54px;
  height: 54px;
  border-radius: 1.8125rem;
  border: none;
  color: white;
  &:hover {
    opacity: 0.6;
    transform: scale(0.95);
  }
}
.continue-button {
  font-weight: 700;
  background-color: $moderateCyan;
  width: 6.4375rem;
  height: 2.9375rem;
  border-radius: 1.8125rem;
  border: none;
  color: white;
  &:hover {
    background-color: $darkCyan;
    transform: scale(0.95);
  }
}
.bookmark {
  border: none;
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0.3s;
  &:hover {
    transform: scale(0.95);
  }
  &__active {
    background-color: $moderateCyan;
    
  }
  @include breakpoints-up(large) {
    width: 11.75rem;
    height: 3.5875rem;
    border-radius: 85px;
    border: none;
    padding-left: 0px;
    text-align: left;
    &::after {
      content: "Bookmark";
      padding-left: 4px;
      color: gray;
      font-weight: 700;
    }

  }
  @include breakpoints-up(medium) {
    width: 11.75rem;
    height: 3.5875rem;
    border-radius: 85px;
    border: none;
    padding-left: 0px;
    text-align: left;
    &::after {
      content: "Bookmark";
      padding-left: 4px;
      color: gray;
      font-weight: 700;
    }
  }
}
.active {
  background-color: $moderateCyan;
  color: #fff;
}
