.cover {
  background-image: url(src/assets/images/image-hero-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 400px;
  margin-top: -1.875rem;
}
.navbar-background {
  background-color: black;
}

