// primary

$moderateCyan: hsl(176, 50%, 47%);
$darkCyan: hsl(176, 72%, 28%);

// neutral

$Black: hsl(0, 0%, 0%);
$darkGray: hsl(0, 0%, 48%);

//button
$blackGray: #2F2F2F;
$grayish: #B1B1B1;

// typography

$font-normal: 1rem;
