<div class="col-sm-12 position-relative">
  <div class="row m-1">
    <div class="col-sm-12 bg-white hero shadow-sm rounded text-center">
      <img src="../../../assets/images/logo-mastercraft.svg"
        class=" hero-master-logo position-relative translate-middle" alt="mastercraft logo" />
      <h5 class="mastercraft header">Mastercraft Bamboo Monitor Riser</h5>
      <p class="mastercraft">A beautiful & handcrafted monitor stand to reduce neck and eye strain.</p>
      <div class="row mb-3">
        <app-rectangular-button class="col p-0" [buttonName]="'Back the project'" [buttonType]="'accept-button'">
        </app-rectangular-button>
        <div class="col-3 p-0"><img class="m-0" src="./../../assets/images/icon-bookmark.svg" alt="bookmark icon">
        </div>

      </div>
    </div>
  </div>

  <!--
    <div class="col-sm-12">
      <app-dashboard-widget *ngFor="let a of analyticsData;" [amount]="a.amount" [total]="a.total" class="p-3">
      </app-dashboard-widget>

      <div class="progress mb-3 text-left">
        <div class="progress-bar bg-info rounded" role="progressbar" style="width: 75%" aria-valuenow="75"
          aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
  </div>


  <div class="feature text-left ">
    <h6 class="header">About this project</h6>
    <p class="text-left">The Mastercraft Bamboo Monitor Riser is a sturdy and stylish platform that elevates your screen
      to a more comfortable viewing height. Placing your monitor at eye level has the potential to improve
      your posture and make you more comfortable while at work, helping you stay focused on the task at hand.</p>
    <br>
    <p class="text-left">Featuring artisan craftsmanship, the simplicity of design creates extra desk space below your
      computer
      to allow notepads, pens, and USB sticks to be stored under the stand.</p>
    <div class="cards" *ngFor="let c of contentData;">
      <app-card [cardTitle]="c.cardTitle" [cardSubTitle]="c.cardSubTitle" [cardText]="c.cardText"
        [cardNumber]="c.cardNumber" [buttonName]="c.buttonName" [buttonType]="c.buttonType"></app-card>
    </div>

  </div>
</div>
 -->
