<div class="p-4 my-2 rounded wrapper"
  [ngStyle]="{'border': index === selected ? 'solid 2px hsl(176, 50%, 47%)' : 'solid 2px gray'}">
  <div class="grid-item1">
    <div class="form-check">
      <input class="form-check-input" (change)="select(index)" type="radio" #pledge name="pledge" id="pledge">
    </div>
  </div>
  <div class="grid-item2">
    <h5 class="card-title">{{ cardTitle }}</h5>
  </div>
  <div class="grid-item3">
    <h5 class="card-sub-title">{{cardSubTitle}}</h5>
  </div>
  <div class="grid-item4">
    <div class="" *ngIf="cardNumber >= 0">
      <span class="card-digits-number">
        {{cardNumber}}
      </span>
    </div>
  </div>
  <div class="grid-item5">
    <p>{{cardText}}</p>
  </div>
  <div class="grid-item6">
    <p *ngIf="index === selected">Enter your pledge</p>
  </div>
  <div class="grid-item7">
    <div class="row float-right" *ngIf="index === selected">
      <div class="input-icon">
        <input type="text" class="input">
        <i>$</i>
      </div>
      <button type="button" class="continue-button mx-1 mx-md-1" (click)="submit()">continue</button>
    </div>


  </div>

</div>

<app-modal id="custom-modal-2" class="rounded">
  <div class="col text-center">
    <div class="col">
      <img class="text-center" src="../../assets/images/icon-check.svg" alt="check icon">
    </div>
    <div class="col text-center ">
      <h5 class="fw-bolder my-3">Thanks for your support!</h5>
    </div>
    <div class="col my-3">
      <p class="my-3"> Your pledge brings us one step closer to sharing Mastercraft Bamboo Monitor Riser worldwide. You
        will get
        an email once our campaign is completed.</p>
    </div>
    <div class="col text-center my-3">
      <button class="continue-button my-3" (click)="closeModal('custom-modal-2')">Got it!</button>
    </div>



  </div>

</app-modal>
<!--   <div class="row">
    <div class="form-check col-2 p-1">
      <input class="form-check-input"
      (change)="select(index)"
      type="radio"
      #pledge
      name="pledge"
      id="pledge">
    </div>
    <div class="row text-left mx-2 col-lg-9">
      <h5 class="card-title col-sm-10 col-lg-6">{{ cardTitle }}</h5>
      <h5 class="card-sub-title col-sm-10 col-lg-6">{{cardSubTitle}}</h5>
    </div>

  </div>
  <div class="row text-left">
    <div class="card-text">{{cardText}}</div>
  </div>
  <div class="card-digits row m-0" *ngIf="cardNumber >= 0">
    <h1 class="card-digits-number h5">{{cardNumber}}</h1>
    <p class="mx-2">left</p>
  </div>
  <hr class="w-100">
  <div class="row d-flex justify-content-between p-3" *ngIf="index === selected">
    <p class="col-12 col-lg-6 text-left">Enter your pledge</p>
    <div class="input-icon">
      <input type="text" class="input">
      <i>$</i>
    </div>

   <button type="button" class="continue-button" (click)="submit()">continue</button>
  </div> -->
